In [1]:
import numpy as np
import pandas as pd

* what are question_id, poll_id, pollster_id? where can we get descriptions for them? would they be useful for us?

In [2]:
df = pd.read_csv("../president_primary_polls.csv")

/home/octav/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (19,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.columns['answer']

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [4]:
df["create_date"] = pd.to_datetime(df["created_at"], infer_datetime_format = True)
df["create_date"]

0       2020-02-24 15:14:00
1       2020-02-24 15:14:00
2       2020-02-24 15:14:00
3       2020-02-24 15:14:00
4       2020-02-24 15:14:00
                ...
17326   2018-12-27 03:50:00
17327   2018-12-27 03:50:00
17328   2018-12-27 03:50:00
17329   2018-12-27 03:50:00
17330   2018-12-27 03:50:00
Name: create_date, Length: 17331, dtype: datetime64[ns]

In [5]:
df["create_week"] = (df['create_date'] - pd.to_timedelta(df['create_date'].dt.dayofweek, unit='d') + np.timedelta64(7, 'D')).dt.normalize()
df_subset = df[df["party"] == "DEM"]

In [6]:
# df_grouped = df[df["party"] == "DEM"].groupby(["create_week", "candidate_name"])["pct"].mean().reset_index()

In [7]:
df_pivot = df[df["party"] == "DEM"].pivot_table(values = "pct", index = "create_week", columns="candidate_name",
                                                aggfunc = np.mean).fillna(0).iloc[-7:]

In [14]:
df_pivot.index[1] > start_date

NameError: name 'start_date' is not defined

In [9]:
candidates = df_subset["candidate_name"].unique()

In [10]:
can_selected = []
for can in candidates:
    if (df_pivot[can] == 0).mean() < 0.5 and df_pivot[can].mean() > 0.1:
        print (can)
        can_selected.append(can)

Joseph R. Biden Jr.
Pete Buttigieg
Tulsi Gabbard
Amy Klobuchar
Bernard Sanders
Tom Steyer
Elizabeth Warren
Michael Bloomberg
Michael F. Bennet
Deval Patrick
Andrew Yang
Cory A. Booker
John K. Delaney

In [11]:
list(df_pivot.index.strftime("%d.%m.%Y"))

['20.01.2020',
 '27.01.2020',
 '03.02.2020',
 '10.02.2020',
 '17.02.2020',
 '24.02.2020',
 '02.03.2020']

In [137]:
df_pivot[can]

candidate_name,Amy Klobuchar,Andrew Cuomo,Andrew Yang,Barack Obama,Bernard Sanders,Beto O'Rourke,Bill de Blasio,Cory A. Booker,Dennis J. Kucinich,Deval Patrick,...,Seth Moulton,Sherrod Brown,Stacey Yvonne Abrams,Steve Bullock,Terry R. McAuliffe,Tim Kaine,Tim Ryan,Tom Steyer,Tulsi Gabbard,Wayne Messam
create_week,,,,,,,,,,,,,,,,,,,,,
2019-10-14,1.166667,0.0,2.210526,0.0,21.560000,2.000000,0.000000,1.789474,0.0,0.0,...,0.000000,0.0,0.0,0.222222,0.0,0.0,0.500000,1.176471,1.000000,0.000000
2019-10-21,1.595000,0.0,2.558333,0.0,14.288000,1.925000,0.266667,1.991667,0.0,0.0,...,0.000000,0.0,0.0,0.746667,0.0,0.0,0.487500,1.488889,1.070000,0.166667
2019-10-28,1.816667,0.0,2.650000,0.0,15.104167,1.754167,0.000000,1.679167,0.0,0.0,...,0.000000,0.0,0.0,0.338095,0.0,0.0,0.352381,1.160870,1.475000,0.081250
2019-11-04,2.267647,0.0,2.841765,0.0,17.519412,1.291176,0.000000,1.732941,0.0,0.0,...,0.000000,0.0,0.0,0.042857,0.0,0.0,0.000000,1.153333,1.813125,0.035714
2019-11-11,2.400000,0.0,1.890476,0.0,15.790909,1.637500,0.000000,1.223810,0.0,0.0,...,0.000000,0.0,0.0,0.500000,0.0,0.0,0.666667,0.800000,1.125000,0.142857
2019-11-18,2.883333,0.0,2.400000,0.0,17.300000,0.533333,0.000000,1.638889,0.0,0.0,...,0.000000,0.0,0.0,0.540000,0.0,0.0,0.000000,2.177778,1.776471,0.027273
2019-11-25,1.786667,0.0,2.690323,0.0,17.461765,3.005556,1.100000,2.156250,0.0,0.3,...,1.066667,0.0,0.0,0.809091,0.0,0.0,1.200000,1.904000,1.571429,0.137500

In [77]:
for candidate in df_grouped["candidate_name"].unique():
    print (candidate, len(df_grouped[df_grouped["candidate_name"] == candidate]))

Amy Klobuchar 48
Andrew Cuomo 7
Andrew Yang 43
Bernard Sanders 48
Beto O'Rourke 48
Bill de Blasio 35
Cory A. Booker 48
Deval Patrick 3
Elizabeth Warren 48
Eric Garcetti 7
Eric H. Holder 13
Eric Swalwell 28
Gavin Newsom 2
Hillary Rodham Clinton 10
Howard Schultz 7
Jay Robert Inslee 42
John Hickenlooper 40
John K. Delaney 48
John Kerry 10
Joseph Kennedy III 3
Joseph R. Biden Jr. 48
Julián Castro 48
Kamala D. Harris 48
Kirsten E. Gillibrand 44
Mark Zuckerberg 2
Michael Avenatti 4
Michael Bloomberg 21
Michelle Obama 5
Oprah Winfrey 3
Seth Moulton 27
Sherrod Brown 14
Steve Bullock 48
Terry R. McAuliffe 21
Tim Kaine 2
Tom Steyer 23
Richard Neece Ojeda 2
Tulsi Gabbard 44
Pete Buttigieg 43
Marianne Williamson 40
Stacey Yvonne Abrams 11
Michael F. Bennet 38
Wayne Messam 34
Tim Ryan 33
Mike Gravel 22
Barack Obama 1
Dennis J. Kucinich 1
Donald Trump 1
Dwayne Johnson 1
Gary Johnson 1
Jia Lee 1
Kyrsten Sinema 1
Margaret Wood Hassan 1
Mark R. Warner 1
Nancy Pelosi 1
Robert C. Scott 1
Joe Sestak 22

In [29]:
rg = np.arange('2018-11-04', '2019-12-02', np.timedelta64(7, 'D'), dtype='datetime64[ns]')

In [31]:
rg

array(['2018-11-04T00:00:00.000000000', '2018-11-11T00:00:00.000000000',
       '2018-11-18T00:00:00.000000000', '2018-11-25T00:00:00.000000000',
       '2018-12-02T00:00:00.000000000', '2018-12-09T00:00:00.000000000',
       '2018-12-16T00:00:00.000000000', '2018-12-23T00:00:00.000000000',
       '2018-12-30T00:00:00.000000000', '2019-01-06T00:00:00.000000000',
       '2019-01-13T00:00:00.000000000', '2019-01-20T00:00:00.000000000',
       '2019-01-27T00:00:00.000000000', '2019-02-03T00:00:00.000000000',
       '2019-02-10T00:00:00.000000000', '2019-02-17T00:00:00.000000000',
       '2019-02-24T00:00:00.000000000', '2019-03-03T00:00:00.000000000',
       '2019-03-10T00:00:00.000000000', '2019-03-17T00:00:00.000000000',
       '2019-03-24T00:00:00.000000000', '2019-03-31T00:00:00.000000000',
       '2019-04-07T00:00:00.000000000', '2019-04-14T00:00:00.000000000',
       '2019-04-21T00:00:00.000000000', '2019-04-28T00:00:00.000000000',
       '2019-05-05T00:00:00.000000000', '2019-05-12T00:00:00.000000000',
       '2019-05-19T00:00:00.000000000', '2019-05-26T00:00:00.000000000',
       '2019-06-02T00:00:00.000000000', '2019-06-09T00:00:00.000000000',
       '2019-06-16T00:00:00.000000000', '2019-06-23T00:00:00.000000000',
       '2019-06-30T00:00:00.000000000', '2019-07-07T00:00:00.000000000',
       '2019-07-14T00:00:00.000000000', '2019-07-21T00:00:00.000000000',
       '2019-07-28T00:00:00.000000000', '2019-08-04T00:00:00.000000000',
       '2019-08-11T00:00:00.000000000', '2019-08-18T00:00:00.000000000',
       '2019-08-25T00:00:00.000000000', '2019-09-01T00:00:00.000000000',
       '2019-09-08T00:00:00.000000000', '2019-09-15T00:00:00.000000000',
       '2019-09-22T00:00:00.000000000', '2019-09-29T00:00:00.000000000',
       '2019-10-06T00:00:00.000000000', '2019-10-13T00:00:00.000000000',
       '2019-10-20T00:00:00.000000000', '2019-10-27T00:00:00.000000000',
       '2019-11-03T00:00:00.000000000', '2019-11-10T00:00:00.000000000',
       '2019-11-17T00:00:00.000000000', '2019-11-24T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000'], dtype='datetime64[ns]')